<html>
	<head>
		<script src="{{url_for('static', filename='render.js')}}"></script>
	</head>
	
	<body>
		<br><br><br><br>		
		<div style="text-align:center">
			<svg width="500" height="200"style="border:1px solid black">
			</svg>
		</div>
		<div style="text-align:center">
			<button onclick="bubble_sort()">Bubble sort now!!!</button>
			<button onclick="insertion_sort()">insertion sort now!!!</button>
			<p id="info" style="font-size:200%"><p>
		</div>
		<div style="text-align:center">
			<button onclick="randomize()">Randomize now now!!!</button>
		</div>
		
	</body>

</html>
